<section>
  <header class='editor-header'>
    <div class="row">
    <select class="form-control pull-left lang-select" name="language" [(ngModel)]="language" (change)="setLanguage(language)">
      <option *ngFor="let language of languages" [value]="language">
        {{language}}
      </option>
    </select>
    <!-- Button trigger modal -->

    <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#myModal">
      Reset Code
    </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">Reset</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            You will lose current code in the window, are you sure?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="resetEditor()">Reset</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div id="editor"></div>

  <div>{{ output }}</div>
  <footer class='editor-footer'>
    <button type="button" class="btn btn-success pull-right" (click)="submit()">Submit Solution</button>
  </footer>
</section>
