.difficulty {
  min-width: 65px;
  margin-right: 10px;
  padding-bottom: 7px;
}

.label {
  padding-top: 0.6em;
  color: #fbfdfa;
  font-size: 12px;
}

.title {
  font-size: 1.2em;
}

.diff-easy {
  background-color: #33cc33;
}

.diff-medium {
  background-color: #ffff00;
}

.diff-hard {
  background-color: #ff6600;
}
